<div class="header-users">
  <h2 class="title">Restaurantes Disponibles</h2>
</div>

<div class="restaurants-wrapper cont">

  <div class="ice-card">

    <div class="ice-header">
      <h3>Listado de Restaurantes</h3>
    </div>

    <div class="ice-body">

      <table class="ice-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let restaurant of restaurants">
            <td>{{restaurant.name}}</td>
            <td>{{restaurant.email}}</td>
            <td>{{restaurant.phone}}</td>
            <td>{{restaurant.address}}</td>
            <td>
              <button class="ice-btn-sm" (click)="viewMenu(restaurant.id)">Ver Menú</button>
            </td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>

</div>
