<!-- HEADER -->
<div class="header-users">
  <h2 class="title">Panel Principal</h2>
</div>

<!-- BACKGROUND IMAGE WRAPPER -->
<div class="cont users-wrapper">

  <!-- CARD 1 -->
  <div class="center-viewport">
    <div class="ice-card">
      <div class="icon-circle">
        <i class="bi bi-cup-hot-fill"></i>
      </div>
      <button class="ice-btn-lg" routerLink="/products/list">
        Gestionar Productos
      </button>
    </div>
  </div>

  <!-- CARD 2 -->
  <div class="center-viewport">
    <div class="ice-card">
      <div class="icon-circle">
        <i class="bi bi-fork-knife"></i>
      </div>
      <button class="ice-btn-lg" routerLink="/restaurants/list">
        Gestionar Restaurante
      </button>
    </div>
  </div>

  <!-- CARD 3 -->
  <div class="center-viewport">
    <div class="ice-card">
      <div class="icon-circle">
        <i class="bi bi-book-half"></i>
      </div>
      <button class="ice-btn-lg" routerLink="/menus/list">
        Gestionar Menú
      </button>
    </div>
  </div>

</div>
