<!-- HEADER -->
<div class="header-users">
  <h2 class="title">Panel Principal</h2>
</div>

<!-- BACKGROUND IMAGE WRAPPER -->
<div class="cont users-wrapper">

  <!-- CARD 1 -->
  <div class="ice-card-wrapper">
    <div class="ice-card">
      <div class="icon-circle icon-circle-yeti"></div>
      <button class="ice-btn-lg" routerLink="/products/list">
        Gestionar Productos
      </button>
    </div>
  </div>

  <!-- CARD 2 -->
  <div class="ice-card-wrapper">
    <div class="ice-card">
      <div class="icon-circle icon-circle-yeti"></div>
      <button class="ice-btn-lg" routerLink="/restaurants/list">
        Gestionar Restaurante
      </button>
    </div>
  </div>

  <!-- CARD 3 -->
  <div class="ice-card-wrapper">
    <div class="ice-card">
      <div class="icon-circle icon-circle-yeti"></div>
      <button class="ice-btn-lg" routerLink="/menus/list">
        Gestionar Menú
      </button>
    </div>
  </div>

</div>
