<div class="header-users">
  <h2 class="title">Usuario</h2>
</div>

<div class="form-wrapper cont">

  <div class="ice-form-card">

    <div class="ice-form-header">
      <h3>Información del Usuario</h3>
    </div>

    <div class="ice-form-body">
      <form [formGroup]="form" (ngSubmit)="save()">

        <!-- INPUT -->
        <div class="ice-input-group">
          <label>Nombre</label>
          <input formControlName="name" class="ice-input" />
        </div>

        <div class="ice-input-group">
          <label>Email</label>
          <input formControlName="email" class="ice-input" />
        </div>

        <div class="ice-input-group">
          <label>Teléfono</label>
          <input formControlName="phone" class="ice-input" />
        </div>

        <div class="form-actions">
          <button class="ice-btn-lg" type="submit">💾 Guardar</button>
        </div>

      </form>
    </div>

  </div>

</div>
