<div class="header">
  <h1>Conductores</h1>
</div>

<div class="container-fluid mt--4">
  <div class="row">
    <div class="col">
      <div class="card card-ice shadow">
        <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
          <h3 class="mb-0">Conductores</h3>
          <button class="btn btn-ice" [routerLink]="['/drivers/create']">Crear</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-ice table-hover align-middle">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Teléfono</th>
                  <th>Licencia</th>
                  <th>Estado</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let driver of drivers">
                  <td>{{ driver.id }}</td>
                  <td>{{ driver.name }}</td>
                  <td>{{ driver.email }}</td>
                  <td>{{ driver.phone }}</td>
                  <td>{{ driver.license_number }}</td>
                  <td>
                    <span *ngIf="driver.status === 'available'" class="badge badge-ice-success">Disponible</span>
                    <span *ngIf="driver.status === 'on_duty'" class="badge badge-ice-primary">En Servicio</span>
                    <span *ngIf="driver.status === 'off_duty'" class="badge badge-ice-secondary">Fuera de Servicio</span>
                  </td>
                  <td>
                    <button class="btn btn-ice-warning btn-sm" [routerLink]="['/drivers/view', driver.id]">Info</button>
                    <button class="btn btn-ice-warning btn-sm" [routerLink]="['/drivers/update', driver.id]">Editar</button>
                    <button class="btn btn-ice-danger btn-sm" (click)="deleteDriver(driver.id)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
