<div class="header-dark pb-4 pt-5 pt-md-8">
  <h1>Menús</h1>
</div>

<!-- Page content -->
<div class="container-fluid mt--4">
    <div class="row">
        <div class="col">
            <div class="card card-dark shadow">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="mb-0">
                        Menú {{ selectedRestaurantId ? '- ' + getRestaurantName(selectedRestaurantId) : '' }}
                    </h3>
                    <div *ngIf="!selectedRestaurantId">
                        <button class="btn btn-dark-info btn-md" [routerLink]="['/menus/create']">Crear</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-dark-striped table-hover table-bordered align-middle">
                            <thead class="thead-dark-blue text-white">
                                <tr>
                                    <th>Producto</th>
                                    <th>Restaurante</th>
                                    <th>Precio</th>
                                    <th>Disponible</th>
                                    <th *ngIf="!selectedRestaurantId">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let menu of filteredMenus">
                                    <td>{{ getProductName(menu.product_id) }}</td>
                                    <td>{{ getRestaurantName(menu.restaurant_id) }}</td>
                                    <td>${{ menu.price }}</td>
                                    <td>
                                        <span *ngIf="menu.availability" class="badge badge-dark-success">Sí</span>
                                        <span *ngIf="!menu.availability" class="badge badge-dark-danger">No</span>
                                    </td>
                                    <td *ngIf="!selectedRestaurantId">
                                        <button class="btn btn-dark-warning btn-sm mr-2" [routerLink]="['/menus/update', menu.id]">Editar</button>
                                        <button class="btn btn-dark-danger btn-sm" (click)="deleteMenu(menu.id)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
