<div class="header">
  <h1>Gestión Dark Comida Rápida</h1>
</div>

<div class="container-fluid">
  <div class="cards-wrapper">
    
    <!-- Card Motocicleta -->
    <div class="card-sm text-center">
      <div class="icon-circle icon-circle-yeti"></div>
      <button class="btn" routerLink="/motorcycles/list">Gestionar Motocicleta</button>
    </div>

    <!-- Card Turno -->
    <div class="card-sm text-center">
      <div class="icon-circle icon-circle-yeti"></div>
      <button class="btn" routerLink="/shifts/list">Gestionar Turno</button>
    </div>

    <!-- Card Conductor -->
    <div class="card-sm text-center">
      <div class="icon-circle icon-circle-yeti"></div>
      <button class="btn" routerLink="/drivers/list">Gestionar Conductor</button>
    </div>

  </div>
</div>
