<div class="header bg-gradient-danger pb-0 pt-1 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <div class="d-flex align-items-center justify-content-center center-viewport">
                <div class="card text-center card-sm border border-dark">
                    <div class="card-body">
                        <div class="bg-gradient-danger text-white rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3 icon-circle" aria-hidden="true" style="width: 80px; height: 80px; font-size: 32px;">
                            <i class="bi bi-bicycle"></i>
                        </div>
                        <button class="btn text-white btn-block bg-gradient-danger" routerLink="/motorcycles/list">Gestionar Motocicleta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="d-flex align-items-center justify-content-center center-viewport">
        <div class="card text-center card-sm border border-dark">
            <div class="card-body">
                <div class="bg-gradient-danger text-white rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3 icon-circle" aria-hidden="true" style="width: 80px; height: 80px; font-size: 32px;">
                    <i class="bi bi-clock-history"></i>
                </div>
                <button class="btn text-white btn-block bg-gradient-danger" routerLink="/shifts/list">Gestionar Turno</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="d-flex align-items-center justify-content-center center-viewport">
        <div class="card text-center card-sm border border-dark">
            <div class="card-body">
                <div class="bg-gradient-danger text-white rounded-circle d-flex align-items-center justify-content-center mx-auto mb-3 icon-circle" aria-hidden="true" style="width: 80px; height: 80px; font-size: 32px;">
                    <i class="bi bi-person-badge"></i>
                </div>
                <button class="btn text-white btn-block bg-gradient-danger" routerLink="/drivers/list">Gestionar Conductor</button>
            </div>
        </div>
    </div>
</div>
